.controls {
  position: static;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4px;
}

 .controls .inputWrapper, button {
  display: flex;
  align-items: center;
  background: #eef;
  border: solid 2px transparent;
  border-radius: 3px;
  outline: none;
  margin: 3px;
  padding: 6px;
  box-sizing: content-box;
}

.controls >.patternsWrapper {
  display: flex;
  flex-direction: column;
}

.controls > .inputWrapper {
  justify-content: space-between;
}

.controls .inputWrapper input {
  background: #eef;
  border: solid 2px #666;
  padding: 4px;
  border-radius: 3px;
  outline: none;
  box-sizing: content-box;
  width: 42px;
  text-align: center;
  margin: 5px;
}

.controls button:hover, .inputWrapper:hover {
  cursor: default;
  border: solid 2px #33f;
}

.controls > .patternsWrapper {
  border: solid 1px #888;
  border-radius: 3px;
  margin: 2px;
}
