.controls {
  display: flex;
  justify-content: center;
  border: solid 1px #222;
  width: 100%;
}

.controls > button {
  background: none;
  border-color: transparent;
  border-radius: 3px;
  outline: none;
  margin: 10px;
  padding: 10px;
  box-sizing: content-box;
}

.controls > button:hover {
  border: solid 2px #33f;
}
